

.form {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
  background-color: orchid;
  padding: 10rem;
}

.close {
  position: absolute;
  top: 20%;
   left: 80%;
   z-index: 2;
}

.notAvailable {
  background-color: yellow;
}

.calendarMainContainer {

 display: grid;
 grid-template-rows: 1fr;

}

.headOfTheTable{
  display: grid;
   grid-template-columns: repeat(5, 1fr);                 
}

.bodyOfTheTable{
    display: grid;
   grid-template-columns: repeat(5, 1fr);  

}


.mon{
  grid-column: 1/2;
  
}
.tue {
  grid-column: 2/3;
}

.wed {
  grid-column: 3/4;
}

.thu {
  grid-column: 4/5;
}

.fri {
  grid-column: 5/6;
}